{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "staticWebAppName": {
      "value": "<your-static-web-app-name>"
    },
    "repositoryUrl": {
      "value": "<your-repository-url>"
    },
    "branch": {
      "value": "<your-branch>"
    },
    "appLocation": {
      "value": "<your-app-location>"
    },
    "apiLocation": {
      "value": "<your-api-location>"
    },
    "outputLocation": {
      "value": "<your-output-location>"
    },
    "storageAccountName": {
      "value": "<yourstorageaccountname>"
    },
    "containerName": {
      "value": "<your-container-name>"
    }
  }
}
